


.theadc{
background-color: #001E5E;
color: white;


}

.btn-bd-primary {
    background-color: #001E5E;

}

.tabela{
    align-content: center;
    margin-top: 20px;
     margin-left: 5%;
    margin-right: 50%;

}